/* BUTTONS */

.cart {
    font-family: "mr-eaves-modern", sans-serif;
    background-color: white;
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 1em;
    width: 200px;
    border: none;
    border-radius: 50px;

    &:hover {
        background-color: $color-link-dark;
    }

}

.cart a {
    text-decoration: none;
    color: black;
}