/* SITE STRUCTURE */

.site-header {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-id {
        display: flex;
        align-items: center;
    }

    a {
        font-size: 1.2em;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: $color-link;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

}

/* SITE FOOTER */
.site-footer {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: $color-link;
        text-decoration: none;
    }
}

section {
    display: flex;
    align-items: center;
}

/* HERO SECTION */
.hero {
    background-color: transparent;
    text-align: center;
    max-height: 99vh;
    color: $color-text-body-light;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: .25em;
        color: $color-text-headings-light;
    }

    p {
        margin: 1em auto;
    }
}

.hero-text {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    min-width: 35em;
    margin-top: 20em;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/sanibell-bv-odL8iFce8TA-unsplash.jpg");

    /* Set a specific height */
    height: 101vh;
    width: 101vw;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-about {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/collov-home-design--aDGbdTsBZg-unsplash.jpg");

    /* Set a specific height */
    height: 101vh;
    width: 101vw;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

// PRODUCT LIST

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin: 0;
    padding: 10%;

    li {
        margin: 0;
        padding: 0;
        max-width: 40%;
        list-style: none;
        margin-bottom: 10%;

        &:nth-child(even) {
            margin-top: 10%;
        }
    }
}